header {
	position: absolute;
	display: flex;
	background-color:#1976d2;
	width: 100%;
	align-items: right;
	justify-content: flex-end;
	padding-bottom: 3px;
}

header nav {
	display: flex;
	margin-right: 40px;
}

/*nav {
	padding: 10px 0;
	position: absolute;
	width: 100%;
	background-color:#1976d2;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;

}*/

nav a {
	color:white;
	font-size: 2em;
	margin-right: 30px;
/*	padding-right: 20px;*/
}
