{% extends "base.html" %}

{% block content %}

<div id="all">
	<section class="about">
		<h1>About</h1>
			<h3>What is this?</h3>
			<p>This will be a collection of some of the most ridiculous quotes from Trump's speeches.</p>
			<h3>Ok, but why?</h3>
			<p>Because his speeches are almost pure nonsense. They might sound semi good when he speaks them. But looking at the text
					is pure gibberish in parts. I thought it would be funny to highlight some.</p>
			<h3>But why 5 year olds?</h3>
			<p>Well not take away how smart 5 year olds can be, just look at Trump's quotes. Hard to know who really said them.</p>
	</section>
</div>

{% endblock %}