{% extends "base.html" %}

{% block content %}

<div id="all">
	<section class="about">
		<h1>About</h1>
			<h3>What is this?</h3>
			<p>This will be a collection of some of the most ridiculous quotes from Trump's speeches.</p>
			<h3>Ok, but why?</h3>
			<p>Because his speeches are almost pure nonsense. They might sound semi good when he speaks them. But looking at the text
					is pure gibberish in parts. I thought it would be funny to highlight some.</p>
			<h3>But why 5 year olds?</h3>
			<p>This originally started as a fun quiz site of determining if Trump or a 5 year old said it. However, I feel like 5 year olds
				are fairly smart. It would have been too easy to guess as a result. Now it's just Trump quotes.
			</p>
			<h3>This seems a bit biased</h3>
			<p>Well, all quotes are fully sourced. So you can see for yourself. If you still feel so, you should examine to why
				you feel there's a bias.
			</p>
			<h3>I have a quote, can I send you it?</h3>
			<p>Sure, click <a href="mailto:trumpor5yearold@gmail.com?Subject=New%20Quote">here</a>. Do note you must include a source along with the quote.</p>
	</section>
</div>

{% endblock %}