{% extends "base.html" %}

{% block content %}





<div id="all">
	<div id="addQuote">
		<h1>Add A Quote</h1>
		<section>
			<form v-on:submit.prevent="newQuote">
				<textarea v-model="quote.text" class="quote" placeholder="Add quote"></textarea>
				<br>
				<input type="text" v-model="quote.source" class="source" placeholder="source">
				<br>
				<button type="submit" class="quoteSubmit">Submit</button>
			</form>
			<span class="quoteErrors">{{errors}}</span>

		
		<p></p>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-success alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
				(( message ))
				</div>
		  {% endfor %}
		{% endif %}
		{% endwith %}
		</section>
	</div>
</div>
{% endblock %}