<!DOCTYPE html>

<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="/static/src/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/style/main.css">
		<link rel="stylesheet" type="text/css" href="/static/style/nav.css">
		<link rel="stylesheet" type="text/css" href="/static/style/section.css">
		<link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="dscription" content="A collection of the ridiculous things Trump says.">
		{% block head %}
		<title>{% block title %}{% endblock %} Trump Quotes </title>
		{% endblock %}
	</head>
	<body>
		<header>{% include 'navbar.html' %}</header>
		{% block content %}{% endblock %}
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.js"></script>
		<script src="/static/src/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="(( url_for('static', filename='src/js/quotesite.js') ))"></script>
		<script type="text/javascript" src="(( url_for('static', filename='src/js/getQuote.js') ))"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue-infinite-loading@2.2.3/dist/vue-infinite-loading.min.js"></script>
		<script src="https://unpkg.com/vue-infinite-scroll@2.0.2/vue-infinite-scroll.js"></script> -->
	</body>
</html>